:root {
  --primary: #ffd803;
  --bg: #fffffe;
  --black: #272343;
  --paragraph: #2d334a;
  --secondary: #e3f6f5;
  --tertiary: #bae8e8;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--bg);
  font-family: "Figtree", sans-serif;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1120px;
  margin: 0 auto;
  height: auto;
}

.grid {
  display: grid;
}

.section {
  padding: 5rem 3rem;
}

.headline {
  text-align: center;
  font-size: 2rem;
  font-weight: 700;
}

.main-card {
  margin-top: 1.5rem;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 1rem;
}

.img {
  width: 100%;
  height: 300px;
  border-radius: 1.5rem;
  object-fit: cover;
}

.rating {
  position: absolute;
  top: 1.5rem;
  right: 1.5rem;
  padding: 0.5rem;
  background-color: var(--primary);
  color: var(--black);
  border-radius: 0.5rem;
  font-weight: 600;
}

.card {
  position: relative;
  padding: 1rem;
  border-radius: 1rem;
  background-color: var(--black);
  box-shadow: rgba(17, 17, 26, 0.1) 0px 0px 16px;
}

.title-anime {
  font-size: 1.5rem;
  font-weight: 700;
  color: var(--bg);
}

.episode {
  color: var(--bg);
  font-weight: 400;
}

.description {
  margin-top: 0.5rem;
  color: var(--bg);
  font-weight: 300;
}

.btn {
  display: block;
  text-align: center;
  color: var(--black);
  font-weight: 600;
  margin-top: 1rem;
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  font-weight: 700;
  background-color: var(--tertiary);
  transition: scale 0.3s linear, background-color 0.4 linear, color 0.3s linear;
  border: 3px solid var(--tertiary);
}

.btn:hover {
  scale: 1.01;
  background-color: transparent;
  color: var(--tertiary);
}
